<h1><%= t('application.builds.new.title') %></h1>

<h2><%= link_to t('application.builds.new.list'), project_apkapp_path(:id => params[:apkapp_id]),:class => 'btn btn-info icon' %></h2>

<%= render 'form' %>
