

a:link {color: #D62515;text-decoration: none}
a:visited {color: #D62515;text-decoration: none}
a:hover {text-decoration: underline;}
a:active {color: #D62515}


body {
	background-image : url(../images/background.jpg);
	background-color : #DEDEDE;
	background-repeat : repeat-x;
	background-attachment : scroll;}

.navigation { 
	
	font-family:Tahoma,Arial,Verdana,Helvetica,sans-serif; 
	color:#646464; 
	font-size:10px; 
	line-height:16px; }	
a.navigation:link {color:#646464}
a.navigation:visited {color:#646464}
a.navigation:hover {color:#D62515}
a.navigation:active {color:#D62515}
	
.footerleft { 
	font-family:Tahoma,Arial,Verdana,Helvetica,sans-serif; 
	color:#646464; 
	font-size:10px; 
	line-height:16px; 
	font-weight: bold; }
.footerright { 
	font-family:Tahoma,Arial,Verdana,Helvetica,sans-serif; 
	color:#E44B29; 
	font-size:10px; 
	line-height:16px; 
	font-weight: bold; }
.navbarform { 
	width:150px; 
	height:21px; 
	border: 1px solid #D8D3D1; 
	font-family: Tahoma,Arial,Verdana,Helvetica,sans-serif; 
	color:#646464; 
	font-size:10px; }
.navbar { 
font-family:Tahoma,Arial,Verdana,Helvetica,sans-serif; 
color:#F7F7F7; 
font-size:10px; 
line-height:16px; }
.headingred { 
	font-family:Tahoma,Arial,Verdana,Helvetica,sans-serif; 
	color:#D62515; 
	font-size:16px; 
	font-weight:bold; }
.headinggrey { 
	font-family:Tahoma,Arial,Verdana,Helvetica,sans-serif; 
	color:#646464; 
	font-size:16px; 
	font-weight:bold; }
.content { 
	font-family:Tahoma,Arial,Verdana,Helvetica,sans-serif; 
	color:#646464; 
	font-size:12px; 
	line-height:16px; }
.contentred { 
	font-family:Tahoma,Arial,Verdana,Helvetica,sans-serif; 
	color:#D62515; 
	font-size:12px; 
	line-height:16px; }
.linecolour { 
	background-color:#DEDEDE; }
.seoline { 
	font-family:Tahoma,Arial,Verdana,Helvetica,sans-serif; 
	color:#D62515; 
	font-size:10px; 
	font-weight:bold; 
	text-align: center; }
.initiate {
	font-family: Arial, Helvetica, sans-serif;	
	font-style: italic;	font-weight: bold;	
	color: #CC0000;}
.initiate {
	font-family: Arial, Helvetica, sans-serif;	
	font-style: italic;	
	font-weight: bold;	
	color: #CC0000;}
.install {
	font-size: x-large;	
	font-weight: bold;}
ul.arrow  {
	margin: 0;    
	padding: 0;    
	list-style: none;}
ul li.arrow {
    background-image: url("http://hobbyistsoftware.com/images/banner_arrow.gif"); /* Replace bullet.gif with your img */
    background-position: left top; /* Position bullet */
    background-repeat: no-repeat;
    padding-left: 10px; /* Add padding so text doesn't cover bullet img */
	font-family:Tahoma,Arial,Verdana,Helvetica,sans-serif;
	color:#646464; 
	font-size:10px; 
	line-height:16px;
	text-align: left; 
	}
img.framedThumb {
	width:50px; 
	height:50px; 
	background:transparent url("http://hobbyistsoftware.com/images/home/icon_shadow.png") no-repeat 0 0; 
	padding:7px; 
	}

.posMainBody	{
	padding-left: 10px;
	padding-right: 10px;
}
.header {
	background-image : url(images/banner_background.png);
	height:55px; 
}
