<p><%= t('application.devise.mailer.confirm_instructions.welcome') %></p>

<p><%= t('application.devise.mailer.confirm_instructions.info') %></p>

<p><%= link_to t('application.devise.mailer.confirm_instructions.confirm'), confirmation_url(@resource, :confirmation_token => @token) %></p>
