<p><%= t('application.devise.mailer.greetings') %></p>

<p><%= t('application.devise.mailer.unlock.info') %></p>

<p><%= t('application.devise.mailer.unlock.point_to_link') %></p>

<p><%= link_to t('application.devise.mailer.unlock.link'), unlock_url(@resource, :unlock_token => @token) %></p>
